@-moz-document domain("tweetdeck.twitter.com") {
.js-app-columns, .app-columns .horizontal-flow-container, .without-tweet-drag-handles {
	padding: 0px;
}

.js-column, .column{
	margin: 0 auto;
    background-color: #111111;
}
  
.nbfc {
  	color: #DDDDDD;
}

.compose-header {
	border-color: #FF4136;
}
  
.stream-item {
	border-color: #222;
}

.js-column-header, .js-action-header, .column-header {
    opacity: 0.4;
}

.js-colums-header:hover, .js-action-header:hover, .column-header:hover {
	opacity: 1;
}

.avatar, .compose-account-img, .size48, .js-account-item {
	border-radius: 15px;
}

.s-profile, .prf {
	border-radius: 0px;
}

.js-follow-button, .btn, .btn-alt, .js-hide-drawer, .margin-bm, .btn-alt:focus, .btn-aquare, .attach-compose-buttons, .tweet-button, .btn-positive, .js-user-actions-menu .is-inverted-dark, .compose {
	background-color: #111;
    color: #DDDDDD;
}

.attach-compose-buttons .tweet-button {
	background-color: #111;
}
           
.js-follow-button:hover, .btn:hover, .btn-alt:hover, .btn-alt:hover, .btn-aquare:hover, .js-user-actions-menu:hover .is-inverted-dark:hover {
	background-color: #222;
    color: #DDDDDD;
}
            
.js-send-tweet-button, .js-hide-drawer, .tweet-button {
    color: #DDD;
	background-color: #111;
}
              
.js-send-tweet-button:hover .js-hide-drawer:hover {
    color: #111;
	background-color: #FF564D;
}
                
.btn-positive-on-blue[disabled], .btn-positive-on-blue[disabled]:hover, .btn-positive-on-blue[disabled]:active, .btn-positive-on-blue.is-disabled, .btn-positive-on-blue.is-disabled:hover, .btn-positive-on-blue.is-disabled:focus, .btn-positive-on-blue.is-disabled:active {
	background-color: #eee;
}

.js-detail-container {
	background-color: #111;
}

.is-unread, .js-unread-count {
	background-color: #BF2A22;
}
                    
.btn-on-blue, .btn-on-blue:focus {
	border: 0px;
}

.link-complex, .link-complex:hover, .url-ext, .url-ext:hover, .column-type-icon {
	color: #FF4136;
}
    
a.account-link, .block {
	color: #DDD;
}
    
.btn-neutral, .btn-neutral:hover {
	background: none;
}

.btn-on-blue.is-disabled, .btn-on-blue.is-disabled:hover {
	background-color: #222;
    color: #999;
}

.app-columns-container {
	background-color: #222;
}

.prf-img {
	background-color: #111;
    border: 3px #fff solid;
    border-radius: 20px;
}
}